<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <title> </title>
    </head>
    <body>
        <div class='container'>
            <div class='row'>
                <div class='col-md-6'>
                    <h2>You Entered: "{{ word }}"</h2>
                    <h3>Scrabble Score: {{ score }}</h3>
                </div>
            </div>  <!-- End of row -->
            <strong><a href='/'>Back to input form</a></strong>
        </div>  <!-- End of container -->
    </body>
</html>
