<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <title> </title>
    </head>
    <body>
        <div class='container'>
            <div class='row'>
                <div class='col-md-10'>
                    <h2>{{ word }}</h2>

                        {% if count == 1 %}
                            <h3>{{ string_count }} time! </h3>                            
                        {% elseif count > 1 %}
                            <h3>{{ string_count }} times! </h3> 
                        {% endif %}

                        {% if count > 0 %}
                            <h3>In this string: "{{ input_string }}"</h3>                            
                        {% endif %}                        

                </div>
            </div>  <!-- End of row -->
            <strong><a href='/'>Back to input form</a></strong>
        </div>  <!-- End of container -->
    </body>
</html>
